.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  border: none;
  outline: none;
  margin-top: 60px;
}
.input_bottom_bar {
  width: 200px;
  height: 7px;
  background: #4592af;
  border-radius: 11px;
  margin-bottom: 30px;
}
